/* HERO SECTION */
.hero {
   background: linear-gradient(135deg, #00eaff, #00ff9c);
    padding: 80px 20px;
    text-align: center;
    color: black;
}

.hero h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 22px;
    background: #008CFF;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-size: 16px;
}

.btn:hover {
    background: #006ed1;
}

/* BLACK SECTION (same as drowsiness project) */
section {
    padding: 40px 20px;
    background: #000;
    color: white;
    text-align: center;
}

section h2 {
    color: #00F4F4;
    margin-bottom: 15px;
}

section ul {
    list-style: none;
    padding: 0;
    font-size: 18px;
}

section ul li {
    margin: 8px 0;
}

.tech {
    font-size: 18px;
    font-weight: bold;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #000;
    color: gray;
    margin-top: 20px;
}
